*{
    margin: 10px;
    padding: 5px;
}
Body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gainsboro;
    margin: 0;
    padding: 20px;
}

header{
display: flex;
justify-content: space-between;
padding: 20px;
border-bottom: white;
border-radius: 10px;
}
header :hover {
    box-shadow: 0 4px 6px gray;
    transition: 0.3s;

}

header img{
    
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
nav a{
    margin-left: 20px;
    color: maroon;
    text-decoration: none;
}
