*{
    margin: auto;
    height: auto;
    width: auto;
    background-color:honeydew;

}

header{
display: flex;
align-items: start;
justify-content: space-between;
padding: 15px 0;
border-bottom: 1px solid lightgray;
color:mediumblue
}
nav a{
    margin-left: 20px;
    color: maroon;
    text-decoration: none;
}
